/* DOCSIFY VARS */

:root {
    --cover-max-width: 100%;
    --cover-margin: 0;
    --cover-text-align: left;
    --cover-background-color: #242E33;
    --cover-background-image: none;
    --cover-background-mask-color: none;
    --cover-background-mask-opacity: none;
    --cover-background-position: none;
    --cover-background-repeat: no-repeat;
    --cover-background-size: cover;
    --module-spacing: 2em;
}

.cover-main {
    width: 80%;
}

section.cover {
    border-bottom: solid 1px #171d20;
}

h2 span {
    color: rgb(255, 201, 101)
}

h2 i {
    color: rgb(255, 190, 68);
    font-weight: 300;
}

/* LAYOUT */

#container-sui {
	font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Roboto, sans-serif;
	align-items: stetch;
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 3vh;
	grid-template-columns: 1fr;
	grid-template-rows: 8vh auto;
	justify-items: stretch;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
    width: 100%;
    
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -.012em;
}

#container-sui section h3 {
    padding-top: 2em;
    padding-bottom: 1em;
}

/* TEXT STYLES */

#container-sui h1,
#container-sui h2 {
    font-family: Roboto, sans-serif;
	font-weight: 200;
	margin: 0;
	padding: 0;
	text-align: left;
}

#container-sui h2,
#container-sui h3,
#container-sui h4 {
    text-transform: uppercase;
}

#container-sui h1{
	font-size: 4em;
	font-weight: 200;
	margin-bottom: 0.5em;
}

#container-sui h2{
	font-size: 16px;
	height: 30px;
	
}

#container-sui h3{
	font-size: 20px;
	font-weight: 900;
	height: 10px;
}

#container-sui h4{
	font-size: 1.1em;
	font-weight: 400;
	height: 10px;
}

#container-sui a{
	color: var(--color-text-pri);
	text-decoration: none;
}

#container-sui a:hover{
	text-decoration: underline;
	webkit-text-decoration-color: var(--color-text-acc);
	webkit-text-decoration-skip: true;
}

#container-sui .icon{
	font-size: 2.5em;
}

/* TABLES */

#container-sui table{
	border: thin solid #e4e4e4;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 1em;
	text-align: left;
	width: 100%;
}

#container-sui table td:nth-of-type(2){
	padding-right: 5em;
}

#container-sui table td{
	border: thin solid #e4e4e4;
	color: #333333;
	font-size: 1em;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

#container-sui table th{
	border: thin solid #e4e4e4;
	color: #333333;
	font-weight: bold;
	padding: 10px 5px;
}

#container-sui table a{
	color: #333333;
}


/* ANIMATION */

.fade{
	opacity: 0;
}

@keyframes fadeseq{
	100%	{
		opacity: 1;
	}
}

.fade{
	opacity: 0;
}

.fade{
	animation: fadeseq .3s forwards;
}

.fade:nth-child(2){
	animation-delay: .4s;
}

/* SECTIONS */

#container-sui section.header {
	border-bottom: 0px solid var(--color-text-acc);
    z-index: 1;
}

#apps_loop{
	border-bottom: 0px solid var(--color-text-acc);
	display: grid;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 64px;
	padding-bottom: var(--module-spacing);
}

.apps_icon{
	height: 64px;
	margin-right: 1em;
	padding-top: 15px;
}

.apps_icon span{
	font-size: 2.5em;
	line-height: 3rem;
}

.apps_item{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 64px;
	margin: 0;
}

.apps_text{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.apps_text a{
	font-size: 1em;
	font-weight: 500;
	text-transform: uppercase;
}

.apps_text span{
	color: var(--color-text-acc);
	font-size: 0.8em;
	text-transform: uppercase;
}


#links_loop{
	display: grid;
	flex-wrap: nowrap;
	grid-column-gap: 20px;
	grid-row-gap: 0px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
}

#links_item{
	line-height: 1.5rem;
	margin-bottom: 2em;
	webkit-font-smoothing: antialiased;
}

#links_item h4{
	color: var(--color-text-acc);
}

#links_item a{
	display: block;
	line-height: 2;
}

/* THEMING */

.theme-button{
	font-size: 0.8em;
	margin: 2px;
    width:128px;
	line-height: 3em;
	text-align: center;
	text-transform: uppercase;
}

.theme-blackboard{
	background-color: #000000;
	border: 4px solid #5c5c5c;
    color: #FFFDEA;
}

.theme-gazette{
	background-color: #F2F7FF;
	border: 4px solid #5c5c5c;
    color: #000000;
}

.theme-espresso{
	background-color: #21211F;
	border: 4px solid #4E4E4E;
    color: #D1B59A;
}

.theme-cab{
	background-color: #FEED01;
	border: 4px solid #424242;
    color: #1F1F1F;
}

.theme-cloud{
	background-color: #f1f2f0;
	border: 4px solid #35342f;
    color: #37bbe4;
}

.theme-lime{
	background-color: #263238;
	border: 4px solid #AABBC3;
    color: #aeea00;
}

.theme-passion{
	background-color: #f5f5f5;
	border: 4px solid #8e24aa;
    color: #12005e;
}

.theme-blues{
	background-color: #2B2C56;
	border: 4px solid #6677EB;
    color: #EFF1FC;
}

.theme-chalk{
	background-color: #263238;
	border: 4px solid #FF869A;
    color: #AABBC3;
}

.theme-tron{
	background-color: #242B33;
	border: 4px solid #6EE2FF;
    color: #EFFBFF;
}

.theme-paper{
	background-color: #F8F6F1;
	border: 4px solid #F5E1A4;
    color: #4C432E;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1260px)
{
	#container-sui
	{
		align-items: stretch;
		display: grid;
		grid-column-gap: 10px;
		grid-row-gap: 0px;
		grid-template-columns: 1fr;
		grid-template-rows: 80px auto;
		justify-items: stretch;
		margin-bottom: 1vh;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}
    
	#apps_loop{
		grid-template-columns: 1fr 1fr 1fr;
		width: 100vw;
	}

	#links_loop	{
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (max-width: 667px)
{
	html{
		font-size: calc(16px + 6 * ((100vw - 320px) / 680));
	}

	#container-sui{
		align-items: stretch;
		display: grid;
		grid-column-gap: 20px;
		grid-row-gap: 0px;
		grid-template-columns: 1fr;
		grid-template-rows: 80px auto;
		justify-items: stretch;
		margin-bottom: 1vh;
		width: 90%;
	}

	#container-sui h1{
		font-size: 4em;
		height: auto;
		margin-bottom: 0em;
	}

	#container-sui h2{
		font-size: 1em;
		height: auto;
		margin-bottom: 0em;
	}

	#container-sui h3{
		font-size: 1em;
	}

	#apps_loop{
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		grid-template-columns: 1fr 1fr;
		width: 100vw;
	}

	.apps_icon{
		height: 64px;
		margin-right: 0.8em;
		padding-top: 14px;
	}

	.apps_icon span{
		font-size: 2em;
		line-height: 2.5rem;
	}
    
	#links_loop{
		display: grid;
		flex-wrap: nowrap;
		grid-column-gap: 20px;
		grid-row-gap: 0px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}
}